<a href="https://colab.research.google.com/github/DD-06/taller-pandas-titanic-grupo-/blob/main/notebooks/Proyecto_Programacion_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv.xlsx to test.csv.xlsx

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv.xlsx to train.csv.xlsx

In [ ]:
import pandas as pd
import numpy as np
test = pd.read_excel("test.csv.xlsx")
train = pd.read_excel("train.csv.xlsx")

In [ ]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,78292.0,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,96875.0,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,86625.0,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,122875.0,NaN,S

In [ ]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,712833.00,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.00,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

In [ ]:
print(train.shape)
print(test.shape)

(891, 12)
(418, 11)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [ ]:
#Estadisticas basicas de cada DataFrame
print(train.describe())
print(test.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch          Fare
count  891.000000  8.910000e+02
mean     0.381594  1.271697e+05
std      0.806057  4.112720e+05
min      0.000000  0.000000e+00
25%      0.000000  1.445000e+01
50%      0.000000  7.100000e+01
75%      0.000000  7.895800e+04
max      6.000000  5.123292e+06
       PassengerId      Pclass         Age       SibSp       Parch  \
count   418.000000  418.000000  332.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344
std     120.810458    0.841838   14.181209    0.896760    0.981429
min     892.000000    1.000000    0.170000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000
50%    1100.500000    3.000000   27.000000    0.000000    0.000000
75%    1204.750000    3.000000   39.000000    1.000000    0.000000
max    1309.000000    3.000000   76.000000    8.000000    9.000000

               Fare
count  4.170000e+02
mean   1.381044e+05
std    4.123056e+05
min    0.000000e+00
25%    1.550000e+01
50%    9.350000e+01
75%    7.895800e+04
max    5.123292e+06

In [ ]:
train["Familiares"] = train["SibSp"] + train["Parch"]
test["Familiares"] = test["SibSp"] + test["Parch"]

train["Familiares"].describe() #Esta variable muestra con cuantos familiares viajaba cada pasajero

count    891.000000
mean       0.904602
std        1.613459
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max       10.000000
Name: Familiares, dtype: float64

In [ ]:
# Agregar columna 'source' para identificar el origen
train["source"] = "train"
test["source"] = "test"

# Agregar columna Survived a test con valores vacos
test["Survived"] = np.nan

# Add 'Familiares' column to test before concatenating
test["Familiares"] = test["SibSp"] + test["Parch"]

# Unir verticalmente
combined = pd.concat([train, test], axis=0, ignore_index=True)

print("Tamao del conjunto combinado:", combined.shape)
display(combined.head())

Tamao del conjunto combinado: (1309, 14)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,source,Familiares
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S,train,NaN
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,712833.00,C85,C,train,NaN
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7925.00,NaN,S,train,NaN
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S,train,NaN
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S,train,NaN

In [42]:
data = combined.copy()
# Verificamos el tamao de cada conjunto
print("Tamao de los conjuntos:")
print(data["source"].value_counts())
print("\n" + "-"*60 + "\n")

# Estadsticas generales por conjunto (train y test)
print("Estadsticas descriptivas por conjunto (numricas):")
print(data.groupby("source").describe())

print("\n" + "-"*60 + "\n")

# Comparamos la proporcin de hombres y mujeres en cada conjunto
print("Distribucin de sexo por conjunto:")
print(data.groupby("source")["Sex"].value_counts(normalize=True))

print("\n" + "-"*60 + "\n")

# Comparamos clases de boleto (Pclass) en cada conjunto
print("Distribucin de clases por conjunto:")
print(data.groupby("source")["Pclass"].value_counts(normalize=True))

print("\n" + "-"*60 + "\n")

# Comparamos edad promedio
print("Edad promedio por conjunto:")
print(data.groupby("source")["Age"].mean())

print("\n" + "-"*60 + "\n")

# Comparamos tarifas promedio
print("Tarifa promedio (Fare) por conjunto:")
print(data.groupby("source")["Fare"].mean())

Tamao de los conjuntos:
source
train    891
test     418
Name: count, dtype: int64

------------------------------------------------------------

Estadsticas descriptivas por conjunto (numricas):
       PassengerId                                                      \
             count    mean         std    min     25%     50%      75%
source
test         418.0  1100.5  120.810458  892.0  996.25  1100.5  1204.75
train        891.0   446.0  257.353842    1.0  223.50   446.0   668.50

               Survived            ...     Fare            Familiares  \
           max    count      mean  ...      75%        max      count
source                             ...
test    1309.0      0.0       NaN  ...  78958.0  5123292.0      418.0
train    891.0    891.0  0.383838  ...  78958.0  5123292.0      891.0


            mean       std  min  25%  50%  75%   max
source
test    0.839713  1.519072  0.0  0.0  0.0  1.0  10.0
train   0.904602  1.613459  0.0  0.0  0.0  1.0  10.0

[2 rows x 64 columns]

------------------------------------------------------------

Distribucin de sexo por conjunto:
source  Sex
test    male      0.636364
        female    0.363636
train   male      0.647587
        female    0.352413
Name: proportion, dtype: float64

------------------------------------------------------------

Distribucin de clases por conjunto:
source  Pclass
test    3         0.521531
        1         0.255981
        2         0.222488
train   3         0.551066
        1         0.242424
        2         0.206510
Name: proportion, dtype: float64

------------------------------------------------------------

Edad promedio por conjunto:
source
test     30.272590
train    29.699118
Name: Age, dtype: float64

------------------------------------------------------------

Tarifa promedio (Fare) por conjunto:
source
test     138104.379496
train    127169.670595
Name: Fare, dtype: float64

In [ ]:
#Se muestran las columnas con valores faltantes (NaN), como Age, Cabin, Embarked o Fare.
faltantes = combined.isnull().sum()
print("Valores faltantes por columna:")
print(faltantes[faltantes > 0])

Valores faltantes por columna:
Survived     418
Age          263
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [ ]:
# a) Edad promedio
print("Edad promedio:", train["Age"].mean())

# b) Sobrevivientes y fallecidos
print(train["Survived"].value_counts())

# c) Tarifa promedio en primera clase
print("Tarifa promedio 1ra clase:", train.loc[train["Pclass"] == 1, "Fare"].mean())

# e) Edad ms joven y ms vieja
print("Edad mnima:", train["Age"].min(), " | Edad mxima:", train["Age"].max())

# f) Pasajeros por puerto
print(train["Embarked"].value_counts())

Edad promedio: 29.69911764705882
Survived
0    549
1    342
Name: count, dtype: int64
Tarifa promedio 1ra clase: 383077.2
Edad mnima: 0.42  | Edad mxima: 80.0
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [ ]:
combined["Familiares"] = combined["SibSp"] + combined["Parch"]

# Pasajeros con al menos 1 familiar
con_familia = combined[combined["Familiares"] > 0]
print("nmero de pasajeros con familiares a bordo:", con_familia.shape[0])

# Crear una nueva columna indicadora
combined["viajo_solo"] = combined["Familiares"] == 0

# Contar proporciones y totales
print("\nConteo de pasajeros que viajaron solos vs con familia:")
print(combined["viajo_solo"].value_counts())

print("\nProporciones:")
print(combined["viajo_solo"].value_counts(normalize=True))

nmero de pasajeros con familiares a bordo: 519

Conteo de pasajeros que viajaron solos vs con familia:
viajo_solo
True     790
False    519
Name: count, dtype: int64

Proporciones:
viajo_solo
True     0.603514
False    0.396486
Name: proportion, dtype: float64

In [45]:
data = combined.copy()

# a) Sobrevivieron ms mujeres que hombres?
print("a) Sobrevivieron ms mujeres que hombres?\n")

conteo_a = data.groupby("Sex")["Survived"].value_counts()
print("Conteo de sobrevivientes y fallecidos por sexo:")
print(conteo_a)

porcentaje_a = data.groupby("Sex")["Survived"].mean()
print("\nProporcin de supervivencia por sexo:")
print(porcentaje_a)

print("\n" + "-"*60 + "\n")


# b) Sobrevivieron ms nios que hombres adultos?
print("b) Sobrevivieron ms nios que hombres adultos?\n")

data["is_child"] = data["Age"] < 10
data["is_adult_male"] = (data["Sex"] == "male") & (data["Age"] >= 18)

conteo_b = data.groupby(["is_child", "is_adult_male"])["Survived"].value_counts()
print("Conteo de sobrevivientes y fallecidos:")
print(conteo_b)

porcentaje_b = data.groupby(["is_child", "is_adult_male"])["Survived"].mean()
print("\nProporcin de supervivencia:")
print(porcentaje_b)

print("\n" + "-"*60 + "\n")


# c) Sobrevivieron ms los mayores de 50 o los menores de 10?
print("c) Sobrevivieron ms los mayores de 50 o los menores de 10?\n")

data["grupo"] = pd.cut(data["Age"], bins=[0,10,20,30,40,50,60,70,80], right=False)

conteo_c = data.groupby("grupo")["Survived"].value_counts()
print("Conteo de sobrevivientes y fallecidos por grupo:")
print(conteo_c)

porcentaje_c = data.groupby("grupo")["Survived"].mean()
print("\nProporcin de supervivencia por grupo:")
print(porcentaje_c)

print("\n" + "-"*60 + "\n")


# d) Sobrevivieron ms pasajeros que partieron del puerto de Southampton o de otros?
print("d) Sobrevivieron ms pasajeros segn el puerto de embarque?\n")

conteo_d = data.groupby("Embarked")["Survived"].value_counts()
print("Conteo de sobrevivientes y fallecidos por puerto de embarque:")
print(conteo_d)

porcentaje_d = data.groupby("Embarked")["Survived"].mean()
print("\nProporcin de supervivencia por puerto:")
print(porcentaje_d)

print("\n" + "-"*60 + "\n")


# e) Sobrevivieron ms pasajeros de primera clase?
print("e) Sobrevivieron ms pasajeros de primera clase?\n")

conteo_e = data.groupby("Pclass")["Survived"].value_counts()
print("Conteo de sobrevivientes y fallecidos por clase:")
print(conteo_e)

porcentaje_e = data.groupby("Pclass")["Survived"].mean()
print("\nProporcin de supervivencia por clase:")
print(porcentaje_e)

a) Sobrevivieron ms mujeres que hombres?

Conteo de sobrevivientes y fallecidos por sexo:
Sex     Survived
female  1.0         233
        0.0          81
male    0.0         468
        1.0         109
Name: count, dtype: int64

Proporcin de supervivencia por sexo:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

------------------------------------------------------------

b) Sobrevivieron ms nios que hombres adultos?

Conteo de sobrevivientes y fallecidos:
is_child  is_adult_male  Survived
False     False          1.0         234
                         0.0         200
          True           0.0         325
                         1.0          70
True      False          1.0          38
                         0.0          24
Name: count, dtype: int64

Proporcin de supervivencia:
is_child  is_adult_male
False     False            0.539171
          True             0.177215
True      False            0.612903
Name: Survived, dtype: float64

------------------------------------------------------------

c) Sobrevivieron ms los mayores de 50 o los menores de 10?

Conteo de sobrevivientes y fallecidos por grupo:
grupo     Survived
[0, 10)   1.0          38
          0.0          24
[10, 20)  0.0          61
          1.0          41
[20, 30)  0.0         143
          1.0          77
[30, 40)  0.0          94
          1.0          73
[40, 50)  0.0          55
          1.0          34
[50, 60)  0.0          28
          1.0          20
[60, 70)  0.0          13
          1.0           6
[70, 80)  0.0           6
          1.0           0
Name: count, dtype: int64

Proporcin de supervivencia por grupo:
grupo
[0, 10)     0.612903
[10, 20)    0.401961
[20, 30)    0.350000
[30, 40)    0.437126
[40, 50)    0.382022
[50, 60)    0.416667
[60, 70)    0.315789
[70, 80)    0.000000
Name: Survived, dtype: float64

------------------------------------------------------------

d) Sobrevivieron ms pasajeros segn el puerto de embarque?

Conteo de sobrevivientes y fallecidos por puerto de embarque:
Embarked  Survived
C         1.0          93
          0.0          75
Q         0.0          47
          1.0          30
S         0.0         427
          1.0         217
Name: count, dtype: int64

Proporcin de supervivencia por puerto:
Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

------------------------------------------------------------

e) Sobrevivieron ms pasajeros de primera clase?

Conteo de sobrevivientes y fallecidos por clase:
Pclass  Survived
1       1.0         136
        0.0          80
2       0.0          97
        1.0          87
3       0.0         372
        1.0         119
Name: count, dtype: int64

Proporcin de supervivencia por clase:
Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

/tmp/ipython-input-3321413955.py:39: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  conteo_c = data.groupby("grupo")["Survived"].value_counts()
/tmp/ipython-input-3321413955.py:43: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  porcentaje_c = data.groupby("grupo")["Survived"].mean()

In [43]:
# Crear la nueva variable "Familiares" sumando SibSp y Parch
combined["Familiares"] = combined["SibSp"] + combined["Parch"]

# Crear la columna "GrupoFamilia" segn el nmero de familiares
grupo = []
for i in combined["Familiares"]:
    if i == 0:
        grupo.append("Grupo 1: sin familiares")
    elif i >= 1 and i <= 3:
        grupo.append("Grupo 2: familias pequeas")
    else:
        grupo.append("Grupo 3: familias grandes")

combined["GrupoFamilia"] = grupo

# Crear columna que diga si la persona tena cabina o no
combined["TieneCabina"] = combined["Cabin"].notna()

# Contar cuntas personas hay en cada grupo familiar
conteo = combined.groupby("GrupoFamilia")["TieneCabina"].value_counts()

print("Distribucin de cabinas por grupo familiar:\n")
print(conteo)

# Tambin ver cuntas personas totales hay en cada grupo
print("\nCantidad total por grupo familiar:\n")
print(combined["GrupoFamilia"].value_counts())

Distribucin de cabinas por grupo familiar:

GrupoFamilia                TieneCabina
Grupo 1: sin familiares     False          659
                            True           131
Grupo 2: familias pequeas  False          284
                            True           153
Grupo 3: familias grandes   False           71
                            True            11
Name: count, dtype: int64

Cantidad total por grupo familiar:

GrupoFamilia
Grupo 1: sin familiares       790
Grupo 2: familias pequeas    437
Grupo 3: familias grandes      82
Name: count, dtype: int64

In [48]:
datos = combined.copy()
#Copiar el DataFrame combinado
grupo_edad = []
#Separacion de los grupos basandose en la edad
for e in datos["Age"]:
    if pd.isna(e):
        grupo_edad.append("N.R")
    elif e <= 10:
        grupo_edad.append("Nio")
    elif e >= 18 and e <= 50:
        grupo_edad.append("Adulto")
    elif e > 50:
        grupo_edad.append("Mayor")
    else:
        grupo_edad.append("Adolecente")
#Asignar columna de "Grupo etario"
datos["grupo_etario"] = grupo_edad
#Crear columna para comprobar si tienen columna o no
datos["Tiene_cabina"] = datos["Cabin"].notna()
#Ver cuntas personas sobrevivieron o no, por grupo etario, sexo y cabina
tabla = datos.groupby(["grupo_etario", "Sex", "TieneCabina"])["Survived"].value_counts()

print("\nDistribucin de supervivencia por grupo etario, sexo y cabina:\n")
print(display(tabla))

tasa = datos.groupby(["grupo_etario", "Sex", "TieneCabina"])["Survived"].mean()

print("\nTasa (proporcin) de supervivencia en cada grupo:\n")
print(display(tasa))

Distribucin de supervivencia por grupo etario, sexo y cabina:

grupo_etario  Sex     TieneCabina  Survived
Adolecente    female  False        1.0          12
                                   0.0           5
                      True         1.0           7
              male    False        0.0          21
                                   1.0           2
                      True         1.0           2
Adulto        female  False        1.0          80
                                   0.0          43
                      True         1.0          63
                                   0.0           3
              male    False        0.0         245
                                   1.0          36
                      True         0.0          39
                                   1.0          28
Mayor         female  False        1.0           4
                      True         1.0          12
                                   0.0           1
              male    False        0.0          26
                                   1.0           1
                      True         0.0          15
                                   1.0           5
N.R           female  False        1.0          29
                                   0.0          17
                      True         1.0           7
              male    False        0.0         100
                                   1.0          12
                      True         0.0           8
                                   1.0           4
Nio          female  False        1.0          17
                                   0.0          10
                      True         0.0           2
                                   1.0           2
              male    False        0.0          14
                                   1.0          13
                      True         1.0           6
Name: count, dtype: int64

None

Tasa (proporcin) de supervivencia en cada grupo:

grupo_etario  Sex     TieneCabina
Adolecente    female  False          0.705882
                      True           1.000000
              male    False          0.086957
                      True           1.000000
Adulto        female  False          0.650407
                      True           0.954545
              male    False          0.128114
                      True           0.417910
Mayor         female  False          1.000000
                      True           0.923077
              male    False          0.037037
                      True           0.250000
N.R           female  False          0.630435
                      True           1.000000
              male    False          0.107143
                      True           0.333333
Nio          female  False          0.629630
                      True           0.500000
              male    False          0.481481
                      True           1.000000
Name: Survived, dtype: float64

None